---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Blake McLemore</h1>
			<p>
				I am a 25 year old guy from Lubbock, Texas. I am currently an estimator at a mid-sized A/E
				firm. In 2023, I graduated from Texas Tech University's Whitacre College of Engineering and
				started out working in the defense industry (very original, I know). I have sense pivoted to
				construction.
			</p>
			<p>
				At the moment, I have a laundry list of hobbies, all of which I am incredibly mid at. I like
				to think this is an ambition thing but it's most likely a boredom thing or an attention span
				thing (guess insta reels fried my brain beyond repair). Nonetheless, I am going to keep at it
				until something sticks. I have often wondered if everyone has that <em>thing</em> that they
				are prone to getting obsessed with or if that kind of impulse is just reserved for certain
				types of individuals who are "built different". I hope the former is true.
			</p>
			<p>
				Feel free to <a href="/blog">check out my writing</a> or my <a href="/projects">projects</a>
				for what I am working on. Got a cool idea you want to bounce off me or just got somethin to
				say? <a href="/contact">Contact me here.</a>
			</p>
			<p>
				<strong>By the way, AI will never be allowed to write anything you read on this site.</strong>
				You got my word onnat.
			</p>
		</main>
		<Footer />
	</body>
</html>
