---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Projects" description="Projects page" showDate={false}>
	<p>I'm working on it. Stay tuned.</p>
	<img
		src="/images/let-him-cook.gif"
		alt="hold up, let him cook"
		class="mt-8 w-full max-w-md mx-auto"
		loading="lazy"
	/>
</Layout>
