---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Thank you!" description="Your form submission has been received." showDate={false}>
	<p>Your form submission has been received.</p>
	<p><a href="/blog">Back to the blog</a></p>
</Layout>
